.justify-center {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.m-b-1 {
    margin-bottom: 5px;
}

.m-b-2 {
    margin-bottom: 10px;
}

.m-b-3 {
    margin-bottom: 15px;
}

.m-b-4 {
    margin-bottom: 20px;
}

.m-b-5 {
    margin-bottom: 25px;
}

.primary-btn{
    background-color: rgb(140, 0, 255);
    color: white;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    padding: 18px 0;
    font-size: 18px;
    box-shadow: 0 2px 12px rgba(140, 0, 255, 0.26);
}

